#tasks {
    padding: 20px 15px 5px;
}

#tasks .wrapper_list {
    background-color: #fafafa;
    border-radius: var(--global-border-radius);
    height: calc(100vh - 100px);
    padding: 10px;
    box-shadow: 0 2px 5px #dbdbdb;
}

#tasks .wrapper_list h2 {
    font-size: 1.2rem;
    margin: 0;
}

#tasks .card {
    background-color: #fff;
    border: var(--global-border);
    border-radius: 12px;
    margin-bottom: 0.8rem;
    padding: 0.8rem 1.1rem 0.9rem;
    position: relative;
    transition: transform 0.2s ease-out;
}

#tasks .card .close {
    cursor: pointer;
    position: absolute;
    right: 12px;
    top: 10px;
    font-size: 18px;
}

button {
    background: #FF452B;
    border-radius: 8px;
}